* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    background-size: 100%;
    margin: 0;
    padding: 0;
    color: #424242;
}
.container {
    overflow: hidden;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #f3f3f3;
}
.hidden{
    display: none;
}
.docs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #e4e4e4;
    padding: 20px 20px;
    width: 60%;
    border-radius: 2px;
}
.docs h2{
    margin-top: 0px;
}
code p{
    margin: 2px;
}
.pad-left{
    padding-left: 20px;
}
#new-toast{
    padding: 6px 10px;
    border: 2px solid #424242;
    margin: 10px;
    text-decoration: none;
    color: #424242;
    min-width: 100px;
    text-align: center;
    transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}
#new-toast:hover{
    color: #ffffff;
    background-color: #424242;
}
.repo{
    margin:10px;
}
.twitter-share-button{
    margin:10px;
}