* {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    background-size: 100%;
    margin: 0;
    padding: 0;
    color: #424242;
}
.container {
    overflow: hidden;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}
.hidden{
    display: none;
}
.docs{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #E5E5E5;
    padding: 20px 20px;
    width: 60%;
    border-radius: 4px;
}
.docs h2{
    margin-top: 0px;
}
code p{
    margin: 2px;
}
.pad-left{
    padding-left: 20px;
}
.buttons{
    margin: 20px;
}
.button{
    overflow: hidden;
    margin: 10px;
    padding: 12px 12px;
    cursor: pointer;
    -webkit-transition: all 60ms ease-in-out;
    transition: all 60ms ease-in-out;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    min-width: 100px;
    display: inline-block;
    box-shadow: 2px 5px 10px rgba(22, 22, 22, 0.1);
    color: #4ECDC4;
    border: 2px solid #4ECDC4;
}
.button:hover{
    color: #FFFFFF;
    background-color: #4ECDC4;
}
.repo{
    margin: 10px;
}
